<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Customers</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
    <link href="css/customersStyles.css"
          rel="stylesheet">
</head>
<body>
<div style="background: black">
    <div id="header">
        <br>
        <h2 style="text-align: center; color: white">
            <a href="/" style="text-decoration: none; color: white;">System Sprzedaży biletów na bal Karnavauli 2019</a>
        </h2>
        <br>
    </div>
</div>

<br>

<div class="container">
    <div class="row">
        <div class="col-1">
            <a>
                <h3>Akcje</h3>
            </a>
            <hr>
            <!--<a class="btn btn-success" th:href="@{/addCustomer/1}">Dodaj</a>-->
            <button id="myBtn" class="btn btn-success">Dodaj</button>
            <hr>
            <button class="btn btn-primary" onclick="showMap()">dev tool</button>
            <!-- The Modal -->
            <div id="myModal" class="modal">

                <!-- Modal content -->
                <div class="modal-content">
                    <span class="close">&times;</span>
                    <div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-8 offset-sm-2">
                        <fieldset>
                            <legend>Liczba biletów</legend>
                            <hr>
                            <form onsubmit='makePath(this);'>
                                <select id="Opt">
                                    <option value='addCustomer/1'>1 bilet</option>
                                    <option value='addCustomer/2'>2 bilety</option>
                                    <option value='addCustomer/3'>3 bilety</option>
                                    <option value='addCustomer/4'>4 bilety</option>
                                </select>
                                <br>
                                <br>
                                <div class="form-group">
                                    <button class="btn btn-success">Przejdź dalej</button>
                                </div>
                            </form>
                        </fieldset>
                    </div>
                </div>
            </div>
            <script src="js/customersScript.js"></script>

            <hr>
            <div>Użytkownik:
                <p th:text="${user}"></p>
                liczba dostępnych biletów:
                <p th:text="${numberOfTickets}"></p>
            </div>

        </div>
        <div class="col-8">

            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">id</th>
                    <th scope="col">Imie</th>
                    <th scope="col">Nazwisko</th>
                    <th scope="col">Miejsce</th>
                    <th scope="col">ilość KV</th>
                    <th scope="col">Index?</th>
                    <th scope="col">sprzedawca</th>
                </tr>
                </thead>
                <tbody th:if="${!customers.isEmpty()}">
                <tr th:each="c : ${customers}">
                    <td th:text="${c.id}"></td>
                    <td th:text="${c.name}"></td>
                    <td th:text="${c.surname}"></td>
                    <td th:text="${c.kvTable.name}"></td>
                    <td th:text="${c.amountOfKVAppearance}"></td>
                    <td th:text="${c.isIndex}"></td>
                    <td th:text="${c.user.username}"></td>
                    <td>
                        <a class="btn btn-primary mr-2"
                           onclick="return confirm('UWAGA! zmieniasz dane klienta. Czy chcesz kontynuować?');"
                           th:href="@{/customer/update/{id}(id=${c.id})}">zmień</a>
                    </td>
                    <td>
                        <a class="btn btn-danger mr-2"
                           onclick="return confirm('UWAGA! usuwasz klienta. Czy chcesz kontynuować?');"
                           th:href="@{/customer/remove/{id}(id=${c.id})}">usuń</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>


<script th:inline="javascript">
    function showMap() {
        /*<![CDATA[*/
        var map = /*[[${mapa}]]*/ 'price';
        /*]]>*/
        console.log(map);

    }
</script>

<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</body>
</html>