<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CustomerForm</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

</head>
<body>


<div style="background: black">
    <div id="header">
        <br>
        <h2 style="text-align: center; color: white">
            <a href="/" style="text-decoration: none; color: white;">System Sprzedaży biletów na bal Karnavauli 2019</a>
        </h2>
        <br>
    </div>
</div>

<br>

<div th:if="enoughPlaces">

    <div class="container" th:if="${numberOfFreeSeats} &gt; ${amountOfTickets}">



        <div class="row">

            <div class="col-5">
                <img src="/img/map_hall.jpg" width="400"/>
                <img src="/img/map_1floor.jpg" width="400"/>
                <img src="/img/map_2floor.jpg" width="400"/>
            </div>

            <div class="col-7">
                <!--<div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-8 offset-sm-2">-->
                <form th:action="@{/addCustomer}" method="post" th:object="${manyCustomers}">
                    <ul class="my-5 list-unstyled">
                        <li th:each="c, stat : *{customers}">
                            <div class="form-group">
                                <label th:for="'name' + ${stat.index}">NAME:</label>
                                <input th:id="'name' + ${stat.index}" type="text" class="form-control"
                                       th:field="*{customers[__${stat.index}__].name}"/>
                            </div>
                            <div class="form-group">
                                <label th:for="'seat' + ${stat.index}">Miejsce:</label>
                                <select th:id="'seat' + ${stat.index}" class="form-control"
                                        th:field="*{customers[__${stat.index}__].seat}">
                                    <option th:each="e : ${seats}" th:value="${e}" th:text="${e}"></option>
                                </select>
                            </div>
                        </li>
                    </ul>
                    <div class="form-group">
                        <button class="btn btn-success btn-lg" type="submit">SEND</button>
                    </div>
                </form>
            </div>

        </div>

    </div>
</div>

<div class="container" th:if="${notEnoughPlaces}">
    <h1>brak wolnych miejsc dla tej ilosci klientów</h1>
</div>

<!--<div class="container" th:if="${numberOfFreeSeats} &le; ${amountOfTickets}">
    <h1> brak wolnych miejsc</h1>
</div>-->


<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</body>
</html>