<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Modyfikuj</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css"
          integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

</head>
<body>


<div style="background: black">
    <div id="header">
        <br>
        <h2 style="text-align: center; color: white">
            <a href="/" style="text-decoration: none; color: white;">System Sprzedaży biletów na bal Karnavauli 2019</a>
        </h2>
        <br>
    </div>
</div>

<br>


<div class="container" th:if="${isAnySeatFree}">
    <div class="row">
        <div class="col-xl-8 offset-xl-2 col-lg-8 offset-lg-2 col-md-8 offset-md-2 col-sm-8 offset-sm-2">
            <h2 class="mt-5">Dodaj klienta</h2>
            <form th:action="@{/addCustomer}" method="post" th:object="${customer}">
                <input type="text" th:field="*{id}" hidden="hidden"/>
                <div class="form-group">
                    <label class="h3" for="name">Imię:</label>
                    <input id="name" class="form-control" type="text" th:value="*{name}" th:field="*{name}"/>
                </div>
                <div class="form-group">
                    <label class="h3" for="surname">Nazwisko:</label>
                    <input id="surname" class="form-control" th:field="*{surname}"/>
                </div>
                <div class="form-group">
                    <label class="h3" for="hireDate">E-mail:</label>
                    <input id="hireDate" class="form-control" th:field="*{mail}"/>
                </div>
                <div th:if="${errors.containsKey('mail')}">
                    <p class="text-danger" th:text="${errors.get('mail')}"></p>
                </div>
                <div class="form-group">
                    <label>Miejsce:</label>
                    <select th:field="*{kvTable}">
                        <option th:each="e : ${seats}" th:value="${e}" th:text="${e}"></option>
                    </select>
                </div>
                <div>
                    <input class="btn btn-success" type="submit" value="Dodaj klienta"/>
                    <input class="btn btn-danger" type="reset" value="Wyczyść dane"/>
                    <a class="btn btn-primary" href="/">Strona główna</a>
                </div>
            </form>
        </div>
    </div>
</div>

<div th:if="${!isAnySeatFree}">
    <h1> brak wolnych miejsc</h1>
</div>









<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js"
        integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"
        integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"
        integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
        crossorigin="anonymous"></script>
</body>
</html>